.top{
  padding:0% 8%;
  font-family:'Inter';
  font-weight:700;
  letter-spacing: -2%;
  
}

.web{
  padding:0% 8%;
  font-family:'Inter', san-serif;
}
#webtype{
  font-size:56px;
  margin-bottom:0px;
  -webkit-animation:colorchange 16s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    
    color: #e74c3c;
  }
  
  10% {
    
    color: #e67e22;
  }
  
  20% {
    
    color: #3498db;
  }
  
  30% {
    
    color: #8e44ad;
  }
  
  40% {
    
    color: pink;
  }
  
  50% {
    
    color: #e74c3c;
  }
  
  60% {
    
    color: #e67e22;
  }
  
  70% {
    
    color: #3498db;
  }
  80% {
 
    color: #ad5ccf;
  }
  
  90% {
 
    color: #8e44ad;
  }
  
  100% {
    
    color: pink;
  }
}

.date{
  font-weight:700;
  color:#494949;
}


.grid-main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top:64px;
  font-family:'Inter';
}

.box1{
  margin:1.5%;
  position:relative;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.box1 img{
  width:100%;
  object-fit: contain;
  transition: 0.5s;
}



.content{
  color:rgb(24, 24, 24);
  text-decoration: none;
  padding:2% 4%;
}
.date1{
  font-weight:700;
  color:rgb(104, 104, 104);
  margin-top:2px;
  font-size:1vw;
}

.content h1{
  background: -webkit-linear-gradient(rgb(9, 80, 172), rgb(29, 130, 189));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:2vw;
}
#pp{
  font-weight:500;
  font-size:1vw;
}

.lnk{
  text-decoration-line:none;
  font-weight:700;
  color:rgb(80, 80, 80);
  transition:0.5s;
  padding:4% 0%;
  font-size:0.8vw;
}

.lnk :hover{
  color:rgb(49, 98, 189);
}

@media(max-width:455px){
  .grid-main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top:64px;
    font-family:'Inter';
  }
  .date1{
    font-size:3vw;
  }
  .content h1{
    font-size:4vw;
  }
  #pp{
    font-size:3vw;
  }
  .lnk{
    font-size:3vw;
  }
}


